*{
    margin: 0;
    padding: 0;
}

.header{
  height: 100%;  
 
}

.navbar-style{

    box-shadow: 0px 5px 10px #efefef;
}

.logo{

  height: 90px;
  
}

.navbar-nav {
 font-weight: normal;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 
}
.icon-bar{
 background: darkorange;

}

.p1{

font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: large;
font-weight: 600; 

}

.p2{

font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: large;
font-weight: normal; 
color: darkorange;

}

a.btn{

  margin: 25px 20px;
  padding: 10px;
  width: 150px;
  border-radius: 20px;
}

a.btn-1{
  background: darkorange;
  color: #efefef;
}

a.btn-2{
  background: transparent;
  border: 1px solid black;
  color: black;
}

.img-responsive{

  box-shadow: 0px 5px 10px darkorange;
 }

a.btn:hover{
  background: darkorange;
  border: none;
  transition: 0.3s;
} 

.image-responsive{
  padding:-100px -500px;
  margin: 10px;
  height: 50%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
   filter: blur(0.5px);
   border: 1px solid black;
   position: left;
   overflow: hidden;

  }


.mysecond-container{

  margin: 0px;
  padding: 50px 10px;
}

img{
  max-width: 100%;
}

.second-info{

  padding: 25px 25px;
}

.containers-image{

  right: 25px;
  top:25px;
}

#slider {

  overflow: hidden;
  margin: 10px;

}

#slider figure{

  margin: 10px;
  position: relative;
  width: 490%;
  left: 0;
  animation: 15s slider infinite;  
  border: 2px solid black;
}

#slider figure img{
  float: left;
  width: 20%;
  padding: 10px;
 

 

}

@keyframes slider{
  0%{
    left:0;
  }
  20%{
    left:0; 
  }
  25%{
    left: -100%;
  }
  45%{
    left: -100%;
  }
  50%{
    left: -200%;
  }
  70%{
    left: -200%;
  }
  75%{
    left: -300%;
  }
  95%{
    left: -300%;
  }
  100%{
    left: 0;
  }


}



nav.navbar-bottom{
  background-color: darkorange;
  padding: 50px 50px ;
}

.navigation-bottom{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color:black;
  margin-top: -40px;


}

.middle{
  position: relative;
  text-align: center;
}

.btnsocial{
   display: inline-block;
   width: 30px;
   height: 30px;
   background: #f1f1f1;
   border-radius: 30%;
   box-shadow: 0px 5px 10px #064cb470;
   margin: 25px;

}

.btnsocial i{
  line-height: 30px;
  font-size: 15px;
  overflow: hidden;
}



@media only screen and (max-width:990px){

  a.btn{

    margin: 15px 15px;
    padding: 10px;
    width: 95px;
    border-radius: 20px;
  }

  .btnsocial{
    display: inline-block;
    width: 19px;
    height: 19px;
    background: #f1f1f1;
    border-radius: 30%;
    box-shadow: 0px 5px 10px #064cb470;
    margin: 2px;
 
 }

 .btnsocial i{
  line-height: 10px;
  font-size:8px;
  overflow: hidden;
}





}

.footer_down{

   font-size: x-small;
   color: #efefef;
   padding: 6px;
}



/*header page er code ekhan theke */








